[submodule "cnccontrol_rt"]
	path = cnccontrol_rt
	url = https://github.com/nort-cnc-control/cnccontrol_rt
[submodule "nortcnccontrol"]
	path = nortcnccontrol
	url = https://github.com/nort-cnc-control/nortcnccontrol
